// ------------------------------------------------------- BASIC COLORS //

$black: black;
$white: white;
$lightGray: lightgray;
$veryLightGray: rgba(243, 243, 243, 255);
$tableBorderColor: rgba(26, 32, 44, 255);